.fff{background:#fff!important}.eee{background:#f0f0f0!important}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:.20px}.f22{font-size:22px}.f24{font-size:24px}.f26{font-size:26px}.f28{font-size:28px}.f30{font-size:30px}.f32{font-size:32px}.mt0{margin-top:0!important}.mt5{margin-top:5px!important;}.mt10{margin-top:10px!important}.mt15{margin-top:15px!important}.mt20{margin-top:20!important}.mt30{margin-top:30px!important}.mb0{margin-bottom:0!important}.mb5{margin-bottom:5px!important;}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20!important}.m10{margin-left:10px!important;margin-right:10px!important;}.m15{margin-left:15px!important;margin-right:15px!important;}.m20{margin-left:20px!important;margin-right:20px!important;}.m30{margin-left:30px!important;margin-right:30px!important;}.p0{padding:0!important}.p10{padding-left:10px!important;padding-right:10px!important}.p15{padding-left:15px!important;padding-right:15px!important}.p20{padding-left:20px!important;padding-right:20px!important}.no-border{border:none!important}

.box{display:-webkit-flex;display:flex;}
.direction-row{flex-direction: row}
.direction-row-reverse{flex-direction: row-reverse;}
.direction-column{flex-direction: column}
.direction-column-reverse{flex-direction: column-reverse}
.align-items-center,.align-self-center{align-items:center;}
.align-items-flex-start,.align-self-flex-start{align-items:flex-start;}
.align-items-flex-end,.align-self-flex-end{align-items:flex-end;}
.align-items-stretch,.align-self-stretch{align-items:stretch;}
.justify-content-flex-start{justify-content:flex-start;}
.justify-content-flex-end{justify-content:flex-end;}
.justify-content-center{justify-content:center;}
.justify-content-space-between{justify-content:space-between;}
.justify-content-space-around{justify-content:space-around;}
.flex1{flex:1;}
.flex2{flex:2;}
.flex3{flex:3;}
.flex4{flex:4;}
.btn{
	width:690px;
	display:block;
	height:85px;
	line-height:85px;
	background-color: #26a2ff;
	text-align:center;
	color:#fff;
	font-size:36px;
	border-radius:10px;
}



